<nav class="navbar justify-content-between">
  <div class="navbar-brand">
    <i class="bi-calendar-check-fill"></i>
    <span>TimeWise</span>
  </div>
  <div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <button
          id="prevMonth"
          class="btn btn-outline-dark"
          style="border: none">
          <i
            class="bi bi-arrow-left-circle"
            style="font-size: 1.5rem; border: none"></i>
        </button>
      </li>

      <li class="nav-item">
        <select
          id="monthDropDown"
          class="form-select h-100"
          aria-label="Month Select">
          {{#each months}}
          <option value="{{@index}}"{{#if (eq @index
            ../currentMonth)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </li>

      <li class="nav-item">
        <button
          id="nextMonth"
          class="btn btn-outline-dark"
          style="border: none">
          <i
            class="bi-arrow-right-circle"
            style="font-size: 1.5rem; border: none"></i>
        </button>
      </li>

      <li class="nav-item">
        <button
          id="prevYear"
          class="btn btn-outline-dark"
          style="border: none">
          <i
            class="bi bi-arrow-left-circle"
            style="font-size: 1.5rem; border: none"></i>
        </button>
      </li>

      <li class="nav-item">
        <select id="yearDropDown"
          class="form-select h-100"
          aria-label="Year Select">
          {{#each yearRange}}
          <option value="{{this}}" {{#if (eq ../currYear this)}}selected{{/if}}>{{this}}</option>
          {{/each}}
        </select>
      </li>

      <li class="nav-item">
        <button
          id="nextYear"
          class="btn btn-outline-dark"
          style="border: none">
          <i
            class="bi-arrow-right-circle"
            style="font-size: 1.5rem; border: none"></i>
        </button>
      </li>
    </ul>
  </div>
  <div>
    <button
      class="btn btn-outline-dark"
      style="border: none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <i class="bi-person-fill" style="font-size: 2rem"></i>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Hi UserNameHere
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Change Personal Details</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex mt-3" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form> -->
      </div>
    </div>
  </div>
</nav>