{{#if session}}
{{#if (eq title "Calendar")}}
<div id="calendar-container">

    <div id="datepickerContainer"></div>


</div>
<div class="card display_current_items_card">
    <div class="card-body">
        <h5 class="card-title" id="selected_date">Select a Date to show events here!</h5>
        <div class="d-grid gap-1" id="display_current_items">
        </div>
    </div>
</div>


{{/if}}
{{/if}}