<div>

</div>

<div class="card display_current_items_card">
    <div class="card-body">
        <h4 class="card-title" id="selected_date">Select a Date to show events here!</h4>
        <div class="d-grid gap-1" id="display_current_items">
        </div>
    </div>
</div>