<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Better Calandar</title>
        <link rel="stylesheet" href="./public/bootstrap/css/bootstrap.min.css"
            />
        <link rel="stylesheet"
            href="./public/bootstrap-icons/bootstrap-icons.css" />
        <link rel="stylesheet" href="./public/css/styles.css" />
    </head>
    <body class="container-fluid">
        {{>headNavBar months=months currentMonth=currentMonth
        yearRange=yearRange currYear=currYear}}
        <main>
            <div id="main_page" class="row">
  <div id="left-menu-div" class="col"></div>
            {{{body}}}
  <div id="right-menu-div" class="col"></div>

</div>
        </main>


        <script src="./public/bootstrap/js/bootstrap.bundle.min.js"
            type="text/javascript"></script>
        <script src="./public/jquery/jquery.min.js"
            type="text/javascript"></script>
        {{#if scripts}}
        {{>(lookup . 'scripts')}}
        {{/if}}
    </body>
</html>