<div id="main_page" class="row">
  <div id="left-menu-div" class="col">{{>leftPane}}</div>
  <div id="calendar-div" class="col-md-auto">
    <table class="table table-bordered">
      <caption id="header">{{ dateString }}</caption>
      <thead>
        <tr id="weekdays">
          {{#each weekdays}}
          <th scope="col">{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody id="calendar">
        {{>calendarModal cellIds=cellIds}}
        {{{ calendarHTML }}}
      </tbody>
    </table>
  </div>
  <div id="right-menu-div" class="col">{{>rightPane}}</div>
</div>