<!-- calendarv2.handlebars -->

<div id="calendar-div">
  <div id="modal-div">
    {{!-- {{>calendarModal modalsData=modalsData}} --}}
  </div>
  <table class="table table-bordered">

    <thead>

      <tr id="weekdays">
         {{#if week.length}}
        <td></td>
        {{/if}}
        {{#each weekdays}}
          <th scope="col">{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#if months.length}}
      {{>month-view weeks=weeks}}
      <script src="/public/scripts/month-calendar.js" type="text/javascript"></script>
      {{/if}}
      {{#if week.length}}
      {{>week-view weeks=weeks timeslots=timeslots}}
      <script src="/public/scripts/week-calendar.js" type="text/javascript"></script>

      {{/if}}

    </tbody>
  </table>
<script src="/public/scripts/calendarv2.js" type="text/javascript"></script>

</div>
