<!-- calendarv2.handlebars -->

<div id="calendar-div">
  <div id="modal-div">
    {{!-- {{>calendarModal modalsData=modalsData}} --}}
  </div>
  <table class="table table-bordered ">

    <thead class="sticky-calendar-head bg-light">

      <tr id="weekdays">
         {{#if week.length}}
        <td class="timeslots"></td>
        {{/if}}
        {{#each weekdays}}
          <th scope="col">{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody class="scrollable-calendar-body">
      {{#if months.length}}
      {{>month-view weeks=weeks}}
      <script src="/public/scripts/month-calendar.js" type="text/javascript"></script>
      {{/if}}
      {{#if week.length}}
      {{>week-view weeks=weeks timeslots=timeslots}}
      <script src="/public/scripts/week-calendar.js" type="text/javascript"></script>

      {{/if}}

    </tbody>
  </table>
  <div class="modal" id="add-event-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id="modal-title-event"></h4>
        <button id="add-event-modal-close-button-2"type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div id ="hide-event-buttons-rightP">
          <button
        id="reminder-button"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add-event-modal"
        >Add Reminder</button>
        <button
        id="task-button"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add-event-modal"
        >Add Task</button>
        <button
        id="notes-button"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add-event-modal"
        >Add Notes</button>
        <button
        id="meeting-button"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#add-event-modal"
        >Add Meeting</button>
      </div>
      <div id="display-event-form-rightP">
        <form action="" method="POST" class="form-add-event">
          <div class="mb-3 mt-3">
            <label for="display-title" class="form-label">Display Title:</label>
              <input type="title" class="form-control" id="display-title" placeholder="Enter Title" name="display-title">
            </div>
            <div class="mb-3 mt-3">
            <label for="event-description" class="form-label">Description:</label>
              <input type="title" class="form-control" id="event-description" placeholder="Enter Description" name="event-description">
            </div>
            <div id="priority-select">
              <label>Priority:</label>
              <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>1
  <label class="form-check-label" for="radio1"></label>
  <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option1">2
  <label class="form-check-label" for="radio2"></label>
  <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option1">3
  <label class="form-check-label" for="radio3"></label>

            </div>
            <div class="mb-3 mt-3">
            <label for="event-tag" class="form-label">Tag to display under:</label>
              <input type="title" class="form-control" id="event-tag" placeholder="Enter Tag" name="tag">
            </div>

              <div id = "remind-time">
                <label for="remind-time">Choose a time to remind:</label>
                <input type="datetime-local" id="remind-time"
              name="remind-time" value="2018-06-12T19:30"
              min="2018-06-07T00:00" max="2030-06-14T00:00">
              </div>

               <div id="is-repeating">
                <br>
            <input class="form-check-input" type="checkbox" id="repeat-dates" name="darkmode" value="yes">
            <label class="form-check-label" for="repeat-dates">Remind me repeatedly</label>
            </div>

            <div id ="remind-end-time">
              <br>
                <label for="remind-end-time">Duration of Reminder:</label>
                <input type="datetime-local" id="remind-end-time"
              name="remind-end-time" value="2018-06-12T19:30"
              min="2018-06-07T00:00" max="2030-06-14T00:00">
              </div>
        </form>
      </div>
        </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="add-event-modal-close-button-1" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<script src="/public/scripts/calendarv2.js" type="text/javascript"></script>
</div>
