<!-- calendarv2.handlebars -->

<div id="calendar-div" {{#if timeslots.length}}class="overflow-scroll-y" {{/if}}>
  <div id="modal-div" class="modal-div">
    {{>meetingsModal }}
    {{>remindersModal}}
    {{>tasksModal}}
    {{>notesModal}}
    {{>summaryView}}
    {{>deleteConfirmationModal}}
    {{>addEventModal}}
  </div>
  <table class="table table-bordered ">

    <thead class="{{#if weeks.length}}{{else}}sticky-calendar-head{{/if}} ">
      <tr id="weekdays">
        {{#if weeks.length}}{{else}}
        <th class="timeslots"></th>
        {{/if}}
        {{#each weekdays}}
        <th scope="col">{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody id="calendar-view" class="scrollable-calendar-body">
      {{#if weeks.length}}
      {{>month-view weeks=weeks}}
      <script src="/public/scripts/month-calendar.js" type="text/javascript"></script>
      {{/if}}
      {{#if week.length}}
      {{>week-view week=week timeslots=timeslots}}
      <script src="/public/scripts/week-drag-drop.js"></script>
      {{/if}}
      {{#if day}}
      {{>day-view day=day timeslots=timeslots}}
      <script src="/public/scripts/week-drag-drop.js"></script>
      {{/if}}
    </tbody>
  </table>

  <script src="/public/scripts/calendarv2.js" type="text/javascript"></script>
</div>