<!-- calendarv2.handlebars -->

<div id="calendar-div">
  <div id="modal-div" class="modal-div">
      {{>meetingsModal }}
      {{>remindersModal}}
  </div>
  <table class="table table-bordered ">
    <thead class="sticky-calendar-head bg-light">
      <tr id="weekdays">
         {{#if week.length}}
        <td class="timeslots"></td>
        {{/if}}
        {{#each weekdays}}
          <th scope="col">{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody class="scrollable-calendar-body">
      {{#if months.length}}
      {{>month-view weeks=weeks}}
      <script src="/public/scripts/month-calendar.js" type="text/javascript"></script>
      {{/if}}
      {{#if week.length}}
      {{>week-view weeks=weeks timeslots=timeslots}}
  
      {{/if}}
    </tbody>
  </table>
<script src="/public/scripts/calendarv2.js" type="text/javascript"></script>
</div>
