<div id="calendar-div" class="col-md-auto center-div">
  <div id="modal-div">
    {{>(lookup . 'calendarModal') cellIds=cellIds}}
  </div>
  <table class="table table-bordered">
    <caption id="header">{{ dateString }}</caption>
    <thead>
      <tr id="weekdays">
        {{#each weekdays}}
        <th scope="col">{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody id="calendar">

      {{{ calendarHTML }}}
    </tbody>
  </table>
</div>