<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input
    type="email"
    class="form-control"
    name="email"
    id="email"
    aria-describedby="emailHelpId"
    placeholder="abc@mail.com"
  />
  <small id="emailHelpId" class="form-text text-muted">Help text</small>
</div>