<div id="about-div">
  <h1> <i class="bi-calendar-check-fill"></i>TimeWise</h1>
  <br />
  <p>
    Introducing TimeWise, the all-in-one calendar application that helps users
    manage their time efficiently. TimeWise offers a variety of features,
    including the ability to add events, TODO items, reminders, and notes based
    on the user's requirements.
  </p>
  <p>Users can even add notes with downloadable images and PDFs to keep track of
    important information. TimeWise also provides badges for on-time, late, and
    incomplete events, allowing users to stay on top of their schedules. With a
    one-time notification that summarizes all the items for the current day and
    any alerts, users can start their day on the right foot.
  </p>
  <p>
    TimeWise is a one-page application that comes with a user profile page to
    manage personal details, change passwords, and clear the calendar and
    account with confirmation. Users can easily add, delete, or edit events,
    reminders or TODO items with the ease of dragging and dropping them. With
    filtering options, tagging, and different view modes, TimeWise offers a
    seamless experience for managing and planning effectively.
  </p>
  <div class="text-center">
    <a
      name="get_start_button"
      id="get_start_button"
      class="btn btn-primary"
      href="/user/login"
      role="button"
    >Get Started</a>
  </div>
</div>