<div id="about-div">
  <h1> <i class="bi-calendar-check-fill"></i>TimeWise</h1>
  <br />
  <p>
    Created By
  </p>
  <p>

    <a target="_blank" href="">
      Jonathan Kim
    </a>
  </p>
  <p>

    <a target="_blank" href="">
      Maheshwar Hiremath
    </a>
  </p>
  <p>
    <a target="_blank" href="https://sanjeet-jain.github.io/">
      Sanjeet Vinod Jain
    </a>
  </p>
  <p>
    <a target="_blank" href="">
      Sunderamurthy Yuvaraj
    </a>
  </p>

</div>