<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h1 class="mb-0">Forgot Password</h1>
                </div>
                <div class="card-body">
                    <p class="text-center">Please contact help@timewise.com for password assistance.</p>
                </div>
            </div>
        </div>
    </div>
</div>