body {
  padding: 0 !important;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
.userRightMenu {
  text-align-last: end;
}
.center-div {
  width: 60vw;
}
#calendar-div table tbody tr td {
  text-align: center;
  vertical-align: top;
  width: 20vw;
  height: 12vh;
}
#calendar-div table tbody tr td.active-month:hover {
  border: grey;
  border-style: dashed;
}

#left-menu-div {
  width: 20vw;
}

#right-menu-div {
  width: 20vw;
}

.greyed-out {
  color: #ccc;
}
