<div id="signup-form-div" class="container w-100">
  <form
    action="/user/signup"
    id="signup-form"
    method="POST"
    onsubmit="validatesignup(event)"
    class="needs-validation"
    novalidate
  >
    <h1 class="h3 mb-3 fw-normal">
      <i class="bi-calendar-check-fill"></i>
    </h1>
    <br />
    <div class="form-floating mb-3">
      <input
        required
        type="text"
        class="form-control"
        name="first_name"
        id="first_name"
        aria-describedby="first_name_help_id"
        placeholder="First Name"
      />
      <label for="first_name" class="form-label">First Name</label>
      <small id="first_name_help_id" class="form-text text-muted">
        Please Enter First Name Here</small>
      <div id="first_name_error" class="invalid-feedback">

      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        required
        type="text"
        class="form-control"
        name="last_name"
        id="last_name"
        aria-describedby="last_name_help_id"
        placeholder="Last
                Name"
      />
      <label for="last_name" class="form-label">Last Name</label>
      <small id="last_name_help_id" class="form-text text-muted">
        Please Enter Last Name Here</small>
      <div id="last_name_error" class="invalid-feedback">

      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        required
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="abc@mail.com"
        aria-describedby="email_help_id"
        {{! pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" }}
      />
      <label for="email">Email address</label>
      <small id="email_help_id" class="form-text text-muted">
        Please Enter First Name Here</small>
      <div id="email_error" class="invalid-feedback">

      </div>
    </div>

    <div class="form-floating">
      <input
        required
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Password"
        {{! minlength="10" }}
        aria-describedby="password_help_id"
      />
      <label for="password">Password</label>
      <small id="password_help_id" class="form-text text-muted">
        Please Enter First Name Here</small>
      <div id="password_error" class="invalid-feedback">

      </div>
    </div>
    <br />

    <div class="form-floating mb-3">
      <input
        required
        type="date"
        class="form-control"
        name="dob"
        id="dob"
        aria-describedby="dob_help_id"
        placeholder="MM/DD/YYYY"
        value=""
        max="{{minDobDate}}"
        min="{{maxDobDate}}"
      />
      <label for="dob" class="form-label">Date Of Birth</label>
      <small id="dob_help_id" class="form-text text-muted">Please Enter Date Of
        Birth</small>
      <div id="date_error" class="invalid-feedback">

      </div>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="disability"
        aria-describedby="disability_help_id"
      />
      <label class="form-check-label" for="disability">
        Disability CheckBox
      </label>
      <small id="disability_help_id" class="form-text text-muted">
        Please Check if you need accesibilty Features</small>
    </div>
    <br />

    <button class="w-100 btn btn-lg btn-primary" type="submit">
      Signup
    </button>
  </form>
  <br />
  <a id="forgot" class="link-primary" href="/forgot">Forgot Password?</a>
  <br />

  <a id="signup_link" class="link-secondary" href="/user/signup">Not Registered?
    Click here to Signup</a>
</div>

<script src="/public/scripts/signup.js" type="text/javascript"></script>