<div id="error-div" class="text-center">
  <div class="alert alert-danger" role="alert">
    {{{error.message}}}
  </div>
  {{#if session}}
  <a href="/calendar/month" target="_self">Go Back to Calendar</a>

  {{else}}
  <a href="/user/login" target="_self">Go Back to Login</a>
  {{/if}}
</div>