<div class="modal fade" id="add-event-modal" tabindex="-1" aria-labelledby="add-event-modal-label" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="modal-title" id="add-event-modal-label">
          <i class="">Pick an Event </i>
        </span>
        <button id="add-event-modal-top-close-button" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <button id="button-open-reminder-modal" type="button" class="btn btn-warning event-pill" data-bs-toggle="modal"
          data-bs-event-type="add-event" data-bs-target="#modal-reminder-display"
          data-bs-userid="{{session.user_id}}">Add Reminder</button>
        <button type="button" class="btn btn-primary event-pill" data-bs-toggle="modal" data-bs-event-type="add-event"
          data-bs-target="#modal-meeting-display" data-bs-userid="{{session.user_id}}">Add Meeting</button>
        <button type="button" class="btn btn-danger event-pill" data-bs-toggle="modal" data-bs-event-type="add-event"
          data-bs-target="#modal-task-display" data-bs-userid="{{session.user_id}}">Add Task</button>
        <button type="button" class="btn btn-success event-pill" data-bs-toggle="modal" data-bs-event-type="add-event"
          data-bs-target="#modal-notes-display" data-bs-userid="{{session.user_id}}">Add Notes</button>
      </div>

    </div>
  </div>
</div>