<div
  class="modal fade"
  id="modal-meeting-display"
  tabindex="-1"
  aria-labelledby="modal-meeting-label"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">

        {{!-- Display the Header of Modal --}}
      <div class="modal-header">
        <h4 class="modal-title" id="modal-reminder-label"></h4>
        <button
          type="button"
          class="btn"
          id="edit-reminder-event"
          aria-label="Edit"
        ><i class="bi-pencil-fill">
          </i>
        </button>
        <butto id="reminder-top-close-button"
        type="button" class="btn-close"
        data-bs-dissmiss="modal"
        aria-label="Close"></button>
      </div>
    
    <fieldset id="form-enabler" disabled>
        <div class="modal-body">
            <form id="reminder-form" onsubmit="submit-form-reminder"></form>

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                required
                type="text"
                class="form-control"
                name="title"
                id="title"
                placeholder="Title"
                value=""
              />
              <div id="title-error" class="invalid-feedback">
              </div>
            </div>

            <div class="mb-3">
              <label for="text-body" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                name="text-body"
                id="text-body"
                placeholder="Description"
                value=""
              />
              <div id="textBody-error" class="invalid-feedback">
              </div>
            </div>
            <div class="mb-3">
              <label for="tag" class="form-label">Tag</label>
              <input
                type="text"
                class="form-control"
                name="tag"
                id="tag"
                placeholder="Tag"
                value=""
              />
              <div id="tag-error" class="invalid-feedback">
            </div>
            <div class="mb-3">
              <label for="priority" class="form-label">Priority</label>
              <select
                class="form-select form-select-sm"
                name="priority"
                id="priority"
              >
                <option selected value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
              </select>
            </div>
             <div class="form-floating mb-3">
              <input
                type="datetime-local"
                class="form-control"
                name="date-added-to"
                id="date-added-to"
                value=""
              />
              <label for="dateAddedTo" class="form-label">Date to Add event to
              </label>
              <div id="dateAddedTo_error" class="invalid-feedback">
              </div>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="repeating"
                id="repeating"
                aria-describedby="repeating_help_id"
                value="true"
              />
              <label class="form-check-label" for="repeating">
                Is the event repeating?
              </label>
              <small id="repeating-help-id" class="form-text text-muted">
                Please check if you need the event to repeat</small>
            </div>

            
            <div class="mb-3">
              <label
                for="repeat-type"
                class="form-label"
              >To Repeat</label>
              <select
                class="form-select form-select-sm"
                name="repeat-type"
                id="repeat-type "
              >
                <option selected value="day">day</option>
                <option value="week">week</option>
                <option value="month">month</option>
                <option value="year">Year</option>
              </select>
            </div>

            <div class="form-floating mb-3">
              <input
                type="datetime-local"
                class="form-control"
                name="date-due-on"
                id="date-due-on"
                value=""
              />
              <label for="date-due-on" class="form-label">Final Recurring Date
              </label>
              <div id="date-due-on-error" class="invalid-feedback">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <input
            id="reminder-bottom-submit-button"
            type="submit"
            form="reminder-form"
            value="Save Changes"
            class="btn btn-primary"
          />
        </div>
    </fieldset>
    </div>
  </div>
</div>