<div class="modal fade" id="modal-reminder-display" tabindex="-1" aria-labelledby="modal-reminder-label"
  aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="modal-reminder-label">
          <i class="bi-alarm">Reminder Event</i>
        </h4>
        <button type="button" class="btn btn-edit" aria-label="Edit">
          <i class="bi-pencil-fill"></i>
        </button>
        <button type="button" class="btn btn-danger btn-delete" aria-label="Delete">
          <i class="bi-trash3-fill"></i>
        </button>
        <button id="reminder-top-close-button" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <fieldset id="reminder-form-enabler" disabled>
        <div class="modal-body">
          <form id="reminder-form" class="needs-validation" novalidate>
            {{! title }}
            <div class="mb-3">
              <label for="reminder_title" class="form-label">Title</label>
              <input required type="text" class="form-control" name="title" id="reminder_title" placeholder="Title"
                value="" minlength="1" maxlength="100" pattern="^(?=.{1,100}$)(?![\d])[\w\s]+$" />
              <div id="reminder_title_error" class="invalid-feedback">
              </div>
            </div>
            {{! textBody }}
            <div class="mb-3">
              <label for="reminder_textBody" class="form-label">Description</label>
              <input type="text" class="form-control" name="textBody" id="reminder_textBody" placeholder="Description"
                value="" minlength="0" maxlength="200" />
              <div id="reminder_textBody_error" class="invalid-feedback">
              </div>
            </div>
            {{! tag }}
            <div class="mb-3">
              <label for="reminder_tag" class="form-label">Tag</label>
              <input required type="text" class="form-control" name="tag" id="reminder_tag" placeholder="Tag" value=""
                minlength="0" maxlength="20" pattern="^[a-zA-Z]+$" />
              <div id="reminder_tag_error" class="invalid-feedback">

              </div>
            </div>
            {{! priority }}
            <div class="mb-3">
              <label for="reminder_priority" class="form-label">Priority</label>
              <select required class="form-select form-select-sm" name="priority" id="reminder_priority">
                <option value="">Please select an option</option>
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
              </select>
            </div>
            {{! dateAddedTo }}
            <div class="form-floating mb-3">
              <input required type="datetime-local" class="form-control" name="dateAddedTo" id="reminder_dateAddedTo"
                value="" />
              <label for="reminder_dateAddedTo" class="form-label">Date to Add
                event to
              </label>

              <div id="reminder_dateAddedTo_error" class="invalid-feedback">

              </div>
            </div>

            {{! repeating }}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="repeating" id="reminder_repeating"
                aria-describedby="repeating_help_id" value="false" />
              <label class="form-check-label" for="reminder_repeating">
                Is the event repeating?
              </label>
              <small id="repeating_help_id" class="form-text text-muted">
                Please check if you need the event to repeat. if it is already
                checked and you uncheck it it will cause deletion of all other
                recurrences</small>
            </div>
            {{! repeatingIncrementBy }}
            <div class="mb-3">
              <label for="reminder_repeatingIncrementBy" class="form-label">repeatingIncrementBy</label>
              <select class="form-select form-select-sm" name="repeatingIncrementBy" id="reminder_repeatingIncrementBy">
                <option value="">Please select an option</option>
                <option value="day">day</option>
                <option value="week">week</option>
                <option value="month">month</option>
                <option value="year">Year</option>
              </select>
              <div id="reminder_repeatingIncrementBy_error" class="invalid-feedback">
              </div>
            </div>

            {{! add more fields for other events }}
            {{! dateAddedTo }}
            <div class="form-floating mb-3">
              <input type="datetime-local" class="form-control" name="endDateTime" id="reminder_endDateTime" value="" />
              <label for="reminder_endDateTime" class="form-label">End Date Time
                of Last Recurrence
              </label>
              <div id="reminder_endDateTime_error" class="invalid-feedback">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div id="reminder-update-result">
          </div>
          <input id="reminder-bottom-submit-button" type="submit" form="reminder-form" value="Save Changes"
            class="btn btn-primary" />
        </div>
      </fieldset>
    </div>
  </div>
</div>